h1, h2 {
  text-align: center;
}

.resolution-error {
  display: none;
}

.player-turn {
  width: 80%;
  margin: 80px 10% 0;
  font-size: 32px;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 10%;
  display: flex;
}

.container .board {
  width: 60%;
  height: 30vw;
  border: 1px solid #000000;
  position: relative;
  background-color: #efefef;
}

.container .board canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.container .board canvas#field {
  z-index: 10;
}

.container .board canvas#field-borders {
  z-index: 14;
}

.container .board canvas#selections {
  z-index: 20;
}

.container .board canvas#entities {
  z-index: 30;
}

.container .menu {
  margin-left: 10%;
  width: 30%;
  height: 30vw;
  border: 1px solid #000000;
  background-color: #efefef;
}

.container .menu .actions {
  width: 100%;
}

.container .menu .actions .actions--title {
  text-align: center;
  margin-top: 40px;
}

.container .menu .actions .selection {
  width: 80%;
  margin: 10px 10% 0;
  display: flex;
  justify-content: space-around;
}

.container .menu .actions .selection .selection--item {
  width: 30%;
  border: 1px solid #000000;
  cursor: pointer;
}

.container .menu .actions .selection .selection--item.inactive {
  opacity: .6;
  cursor: default;
}

.container .menu .actions .selection .selection--item img {
  width: 100%;
}

.unit-selection--unit {
  position: relative;
}

.unit-selection--unit .units-left {
  position: absolute;
  left: 5px;
  bottom: 5px;
  margin-bottom: 0;
}

@media all and (max-width: 1024px) {
  .resolution-error {
    display: block !important;
  }
  .container {
    display: none !important;
  }
}